/* Resetta margini e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

/* Stile generale */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    overflow: hidden;
}

/* Header */
header {
    text-align: center;
    font-weight: 700;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.titleGradient {
    font-size: 2em;
    font-weight: bold;
    background-image: linear-gradient(to right, #3f51b5, #f44336);
    background-clip: text;
    color: transparent;
}

/* Contenitore principale */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Griglia di gioco */
#gameGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 1.5rem;
    border: 2px solid #ddd;
}

/* Area cliccabile */
.clickable-area {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    border-bottom: 2px solid #ccc;
}

.clickable-area div { 
    display: flex;
    justify-self: center;
    border: 3.5px dashed #777;
    border-radius: 50%;
    cursor: pointer;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.clickable-area div:hover {
    background-color: #eee;
}

/* Colonne */
.columns {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 15px;
    border-radius: 1.5rem;
    background-color: #eee;
}

.columns div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    position: relative;
}

/* Pedine */
.piece {
    border-radius: 50%;
    background-color: #333;
    position: absolute;
    z-index: 10;
    transition: transform 0.5s ease-in-out;
}

/* Animazione fluida */
@keyframes drop {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}

/* Giocatori */
.player {
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.proPic, .proPicArrpheus {
    background-color: #fff;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 5px solid #3f51b5;
    position: absolute;
}

.proPicArrpheus {
    background-image: url("../assets/img/arrpheus.png");
    border: 5px solid #f44336;
    transform: scaleX(-1);
}

.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noSelect:focus {
    outline: none !important;
}

body.night-mode {
    background-color: #121212;
    color: #ffffff;
}

header.night-mode {
    background-color: #1e1e1e;
    color: #ffffff;
}

#gameGrid.night-mode {
    background-color: #1e1e1e;
    border-color: #333;
}

.clickable-area div.night-mode {
    border-color: #555;
    background-color: #333 !important;
}

.columns.night-mode {
    background-color: #2e2e2e;
}

.player.night-mode {
    background-color: #1e1e1e;
    border-color: #333;
}

.player.night-mode h2 {
    color: #eee;
}

/* Night Mode Checkbox */
.night-mode-button {
    background-color: #333;
    border: none;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    font-size: 25px;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.night-mode-button .fas {
    color: #f1c40f;
}

body.night-mode .night-mode-button {
    background-color: #fff;
}

body.night-mode .night-mode-button .fas {
    color: #f39c12;
}

/* Result card */
.result-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1.5px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transition: opacity 0.3s ease;
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
}

body.night-mode .result-card {
    background-color: #1e1e1e;
    border-color: #ddd;
    color: #eee;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-trasparente per oscurare */
    z-index: 99; /* Inferiore alla result card */
    transition: opacity 0.3s ease;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.winnerPic {
    width: 125px;
    height: 125px;
    background-color: #fff;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 5px solid gold;
    margin-top: 5px;
}
